# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the news api to pull the latest news articles for bitcoin and ethereum and create a DataFrame of sentiment scores for each coin. 

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [19]:
# Initial imports
import os
from pathlib import Path
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from newsapi import NewsApiClient

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\eliza\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [10]:
# Read your api key environment variable

load_dotenv("example.env")
api_key = os.getenv("NEWS_API_KEY")

In [11]:
# Create a newsapi client

newsapi = NewsApiClient(api_key=api_key)

In [12]:
# Fetch the Bitcoin news articles

bitcoin_news = newsapi.get_everything(q='bitcoin',
                                      language='en',
                                      sort_by='publishedAt',
                                      page=2)

In [14]:
# Fetch the Ethereum news articles

ethereum_news =  newsapi.get_everything(q='ethereum',
                                      language='en',
                                      sort_by='publishedAt',
                                      page=2)

In [15]:
# Create the Bitcoin sentiment scores DataFrame

bitcoin_sentiments = []

for article in bitcoin_news ["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        bitcoin_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
bitcoin_df = pd.DataFrame(bitcoin_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
bitcoin_df =bitcoin_df[cols]

bitcoin_df.tail()

,date,text,compound,positive,negative,neutral
15,2020-09-02,Skip to comments.\r\nWhy China Rushes to Roll ...,0.0000,0.000,0.000,1.000
16,2020-09-02,Note: All information on this page is subject ...,0.8402,0.250,0.000,0.750
17,2020-09-02,Note: All information on this page is subject ...,0.8402,0.250,0.000,0.750
18,2020-09-02,The cyber attack on New Zealand right now is b...,-0.6124,0.144,0.211,0.644
19,2020-09-02,Bitcoin had a lackluster August while Ethereum...,0.1779,0.054,0.000,0.946

In [21]:
#Save dataframe as csv file
file_path = Path("Data\bitcoin.csv")
bitcoin_df.to_csv( "bitcoin.csv", index = False)

In [23]:
#Read data from CSV file
file_path = Path("bitcoin.csv")
bitcoin_df= pd.read_csv(file_path)
bitcoin_df.tail()

,date,text,compound,positive,negative,neutral
15,2020-09-02,Skip to comments.\r\nWhy China Rushes to Roll ...,0.0000,0.000,0.000,1.000
16,2020-09-02,Note: All information on this page is subject ...,0.8402,0.250,0.000,0.750
17,2020-09-02,Note: All information on this page is subject ...,0.8402,0.250,0.000,0.750
18,2020-09-02,The cyber attack on New Zealand right now is b...,-0.6124,0.144,0.211,0.644
19,2020-09-02,Bitcoin had a lackluster August while Ethereum...,0.1779,0.054,0.000,0.946

In [20]:
# Create the Ethereum sentiment scores DataFrame

ethereum_sentiments = []

for article in ethereum_news ["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethereum_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
ethereum_df = pd.DataFrame(ethereum_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
ethereum_df =ethereum_df[cols]

ethereum_df.head()

,date,text,compound,positive,negative,neutral
0,2020-09-02,William Mougayar is the author of The Business...,0.0000,0.000,0.000,1.000
1,2020-09-02,Note: All information on this page is subject ...,0.8402,0.250,0.000,0.750
2,2020-09-02,Cybersecurity experts at ESET published an in-...,-0.5423,0.000,0.143,0.857
3,2020-09-02,Bitcoin had a lackluster August while Ethereum...,0.1779,0.054,0.000,0.946
4,2020-09-02,Ethan Voraotsady\r\nEthan Voraotsady\r\nEthan ...,0.9062,0.261,0.000,0.739

In [17]:
# Describe the Bitcoin Sentiment

bitcoin_df.describe()

        compound   positive   negative    neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.131910   0.088500   0.045950   0.865450
std     0.504669   0.090136   0.071784   0.111759
min    -0.680800   0.000000   0.000000   0.644000
25%    -0.100475   0.000000   0.000000   0.762750
50%     0.076550   0.064500   0.000000   0.873000
75%     0.585900   0.145750   0.089500   0.959500
max     0.840200   0.250000   0.211000   1.000000

In [18]:
# Describe the Ethereum Sentiment

ethereum_df.describe()

        compound  positive  negative    neutral
count  20.000000  20.00000  20.00000  20.000000
mean    0.131755   0.07490   0.04120   0.883950
std     0.499022   0.08597   0.06693   0.083048
min    -0.757900   0.00000   0.00000   0.739000
25%    -0.307000   0.00000   0.00000   0.838000
50%     0.088950   0.04900   0.00000   0.874500
75%     0.476775   0.11400   0.06525   0.940000
max     0.906200   0.26100   0.22400   1.000000

In [ ]:
#Save dataframe as csv

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word
2. Remove Punctuation
3. Remove Stopwords

In [10]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [11]:
# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Create a list of the words

    # Convert the words to lowercase
    
    # Remove the punctuation
    
    # Remove the stop words
    
    # Lemmatize Words into root words
    
    return tokens

In [13]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!

In [14]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Use the token_count function to generate the top 10 words from each coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Optional - download a language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---